/* Sets all the text color to red! */
body {
    color: red;
}

#graph-container-container {
    padding: 0;
}

#graph-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.node {
    color: #666666;
}
