#graph-container-container {
    padding: 0;
}

#graph-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.node {
    background-color: #888;
    border: 0 solid #888;
    color: black;
}

.node.non-existing-note {
    background-color: #CFCFCF;
}

.node.tag {
    background-color: #E0D3AF;
}

.node.attachment {
    background-color: #83D4F4;
}

.edge {
    background-color: #CFCFCF;
}

